<?xml version="1.0" encoding="utf-8"?>
<module name="Geta.Optimizely.Categories" productName="Geta Optimizely Categories" clientResourceRelativePath="" loadFromBin="false">
	<assemblies>
		<add assembly="Geta.Optimizely.Categories" />
	</assemblies>
	<dojo>
		<paths>
			<add name="geta-optimizely-categories" path="ClientResources/Scripts" />
		</paths>
	</dojo>
</module>